{{!< header-content-footer}}
<title>{{__ "pageTitle"}}</title>
 <!--Custom javascript-->
<script>
	$(document).ready(function(){
		//load the particle system,
		//connectedBlueDots is defined in config file(blue-connected.json)
		particlesJS('connectedParticles',connectedBlueDots);
	});

</script>
<style>
	
	.shadowInside{
		-webkit-box-shadow: inset 0px 0px 67px 13px rgba(0,0,0,0.57);
		-moz-box-shadow: inset 0px 0px 67px 13px rgba(0,0,0,0.57);
		box-shadow: inset 0px 0px 67px 13px rgba(0,0,0,0.57);
	}
	
	#connectedParticles{
		widows: 100%;
		height:320px;
		background-color: #0C4B81;/* same as primary color*/
	}
	.wideOpening{
		height: 200px;
		background-color: #0c4b81;
	}
	.anchoredCenter{
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		transform: translate(-50%,-50%);
		position: relative;
		top:50%;
		left:50%;
	}
	.anchoredVerticalCenter{
		-webkit-transform:translate(0%,-50%);
		-moz-transform:translate(0%,-50%);
		transform: translate(0%,-50%);
		position: relative;
		top:100%;
		left:0;
	}
	.circleImage {
		width:150px;
		height:150px; 
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		transform: translate(-50%,-50%);
		position: absolute;
		top:50%;
		left:50%;
	}
	.circleImageContainer{
		border-radius: 50%;
		overflow: hidden;
		width: 120px;
		height:120px;
	}
	#vennDiagramContainer{
		margin: 0 auto;   
		/* for center alignment*/
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	
	.explainer{
		background-color: blueviolet;
	}
	.upperGradientShadow{
		position: relative;
		top:0;
		left:0;
		width: 100%;
		height: 30px;
		background: red;
		background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0));
	}
	.lowerGradientShadow{
		position: relative;
		bottom: 0;
		left:0;
		width: 100%;
		height: 30px;
		background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.22));
	}
</style>

<!--Connected Particles-->
<div id="connectedParticles">
	<img class="anchoredCenter" width="400px" src="/images/logo-name.svg"/ alt="logo"
			style="position:absolute;top:232px">
</div>        

<!--About me-->
<div class="section" style="padding-bottom:50px">
	<div class="container">
		<h1>{{__ "aboutMe"}}</h1>
		<div class="z-depth-3">
			<div style="padding:70px">
				<div class="circleImageContainer z-depth-4 waves-effect" style="padding:10px;float:right;width:170px;height:170px">
						<img class="circleImage" src="/images/facebook-logo.svg"/  style="width:250px;height:250px">
				</div>
				<p>
					{{__ "aboutMePara1"}}
				</p>
				<p>
					{{__ "aboutMePara2"}}
				</p>
			</div>
		</div>
	</div>
</div>

<!--Networking links-->

<div class="section">
	<div class="wideOpening valign-wrapper">

		<div class="row" style="margin-bottom:0">
			<div class="col s4 m4 pull-m4 l4 pull-l10">
				<a href="https://www.linkedin.com/in/nikhil-verma-1b867267?trk=nav_responsive_tab_profile_pic">
					<div class="circleImageContainer z-depth-4 waves-effect">
						<img class="circleImage" src="/images/linked-in-logo.svg"/>
					</div>
						
				</a>
			</div>
			<div class="col s4 m4">
				<a href="https://github.com/nikhilnxvverma1?tab=repositories">
					<div class="circleImageContainer z-depth-4 waves-effect">
						<img class="circleImage" src="/images/github-logo.svg"/>
					</div>
				</a>
			</div>
			<div class="col s4 m4 push-m4 l4 push-l10">
				<a href="https://www.facebook.com/nikhil.verma.948011">
					<div class="circleImageContainer z-depth-4 waves-effect">
						<img class="circleImage" src="/images/facebook-logo.svg"/>
					</div>
				</a>
			</div>
		</div>



	</div>
</div>

<!--Skill Diagram-->

<div class="section">
	<div class="container">
		<h1>{{__ "skillsNTechnologies"}}</h1>
		{{! For desktops}}
		{{>skill-diagram}}
	</div>
</div>

<!--
<div class="parallax-container">
	<div class="parallax"><img src="/images/apple-presentation.jpg"></div>
</div>
-->

<!--Projects-->

<div class="section">
	<div class="container">
		<h1>{{__ "projects"}}</h1>
		<div class="row">
			<div class="col s12 m6 l5">
				<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="/images/sample-app.jpeg">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><a href="#">{{__ "titleProject1"}}</a><i class="material-icons right">more_vert</i></span>
					<p>{{__ "briefProject1"}}</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{__ "titleProject1"}}<i class="material-icons right">close</i></span>
					<p>{{__ "detailProject1"}}</p>
				</div>
				</div>
			</div>
			
			<div class="col s12 m6 l5 offset-l2">
				<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="/images/sample-app.jpeg">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><a href="#">{{__ "titleProject2"}}</a><i class="material-icons right">more_vert</i></span>
					<p>{{__ "briefProject2"}}</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{__ "titleProject2"}}<i class="material-icons right">close</i></span>
					<p>{{__ "detailProject2"}}</p>
				</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col s12 m6 l5">
				<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="/images/sample-app.jpeg">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><a href="#">{{__ "titleProject3"}}</a><i class="material-icons right">more_vert</i></span>
					<p>{{__ "briefProject3"}}</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{__ "titleProject3"}}<i class="material-icons right">close</i></span>
					<p>{{__ "detailProject3"}}</p>
				</div>
				</div>
			</div>
			
			<div class="col s12 m6 l5 offset-l2">
				<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="/images/sample-app.jpeg">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><a href="#">{{__ "titleProject4"}}</a><i class="material-icons right">more_vert</i></span>
					<p>{{__ "briefProject4"}}</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{__ "titleProject4"}}<i class="material-icons right">close</i></span>
					<p>{{__ "detailProject4"}}</p>
				</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col s12 m6 l5">
				<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="/images/sample-app.jpeg">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><a href="#">{{__ "titleProject5"}}</a><i class="material-icons right">more_vert</i></span>
					<p>{{__ "briefProject5"}}</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{__ "titleProject5"}}<i class="material-icons right">close</i></span>
					<p>{{__ "detailProject5"}}</p>
				</div>
				</div>
			</div>
			
			<div class="col s12 m6 l5 offset-l2">
				<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="/images/sample-app.jpeg">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><a href="#">{{__ "titleProject6"}}</a><i class="material-icons right">more_vert</i></span>
					<p>{{__ "briefProject6"}}</p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">{{__ "titleProject6"}}<i class="material-icons right">close</i></span>
					<p>{{__ "detailProject6"}}</p>
				</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!--Contact Me-->

<div class="section">
	<div class="container">
		<h1>{{__ "contactMe"}}</h1>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12 m8 l6">
						<i class="material-icons prefix">account_circle</i>
						<input id="senderName" type="text" class="validate"/>
						<label for="senderName">{{__ "name"}}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m8 l6">
						<i class="material-icons prefix">email</i>
						<input id="email" type="email" class="validate"/>
						<label for="email">{{__ "email"}}</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m8 l6">
						<i class="material-icons prefix">mode_edit</i>
						<textarea id="senderMessage" class="materialize-textarea"></textarea>
						<label for="senderMessage">{{__ "message"}}</label>
					</div>
				</div>
				<div class="row">
					<div class="col s4 offset-s4">
						<button class="btn waves-effect waves-light" type="submit" name="action">{{__ "send"}}
						<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>