 <!--Navigation menu (Header section)-->
 <!--<title>{glitch} gone</title>-->
<script>
	$(document).ready(function(){
		$(".button-collapse").sideNav(); 
		$('.dropdown-button').dropdown({hover:false});
	});

</script>
<ul id="appsDropdownForNonMobile" class="dropdown-content">
	<li><a href="http://www.fileneat.com/">{{__ "fileNeat"}}</a></li>
	<li class="divider"></li>
	<li><a href="/apps/carry-the-flame">{{__ "carryTheFlame"}}</a></li>
	<li class="divider"></li>
	<li><a href="/apps/sudoku-all-solver">{{__ "sudokuAllSolver"}}</a></li>
	<li class="divider"></li>
	<li><a href="/apps/snakes-ergo">{{__ "snakesErgo"}}</a></li>
	<li class="divider"></li>
	<li><a href="/apps/laying-bricks">{{__ "layingBricks"}}</a></li>
</ul>
<ul id="appsDropdownMobile" class="dropdown-content">
	<li><a href="http://www.fileneat.com/">{{__ "fileNeat"}}</a></li>
	<li class="divider"></li>
	<li><a href="/apps/carry-the-flame">{{__ "carryTheFlame"}}</a></li>
	<li class="divider"></li>
	<li><a href="/apps/sudoku-all-solver">{{__ "sudokuAllSolver"}}</a></li>
	<li class="divider"></li>
	<li><a href="/apps/snakes-ergo">{{__ "snakesErgo"}}</a></li>
	<li class="divider"></li>
	<li><a href="/apps/laying-bricks">{{__ "layingBricks"}}</a></li>
</ul>
<ul id="projectsDropdownForNonMobile" class="dropdown-content">
	<li><a href="https://github.com/nikhilnxvverma1/recycle-fling">{{__ "titleRecycleRampage"}}</a></li>
	<li class="divider"></li>
	<li><a href="https://github.com/nikhilnxvverma1/Timeshift">{{__ "timeshift"}}</a></li>
	<li class="divider"></li>
	<li><a href="http://devpost.com/software/graphit">{{__ "graphIt"}}</a></li>
	<li class="divider"></li>
	<li><a href="http://devpost.com/software/spot-search">{{__ "spotSearch"}}</a></li>
</ul>
<ul id="projectsDropdownMobile" class="dropdown-content">
	<li><a href="https://github.com/nikhilnxvverma1/recycle-fling">{{__ "titleRecycleRampage"}}</a></li>
	<li class="divider"></li>
	<li><a href="https://github.com/nikhilnxvverma1/Timeshift">{{__ "timeshift"}}</a></li>
	<li class="divider"></li>
	<li><a href="http://devpost.com/software/graphit">{{__ "graphIt"}}</a></li>
	<li class="divider"></li>
	<li><a href="http://devpost.com/software/spot-search">{{__ "spotSearch"}}</a></li>
</ul>
<nav>
	<div class="nav-wrapper">  
		<a href="/" class="brand-logo valign" id="top-left-logo">
            <span class="logo-first-part">{{__ "madeBy"}}</span><span class="logo-second-part">{{__ "nikhil"}}</span>
		</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
		<li><a href="/">{{__ "home"}}</a></li>
		<li><a href="/blog">{{__ "blog"}}</a></li>
		<li><a class="dropdown-button" href="#!" data-activates="appsDropdownForNonMobile">{{__ "apps"}} <i class="material-icons right">arrow_drop_down</i></a></li>
		<li><a class="dropdown-button" href="#!" data-activates="projectsDropdownForNonMobile">{{__ "projects"}} <i class="material-icons right">arrow_drop_down</i></a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
		<li><a href="/">{{__ "home"}}</a></li>
		<li><a href="/blog">{{__ "blog"}}</a></li>
		<li><a class="dropdown-button" href="#!" data-activates="appsDropdownMobile">{{__ "apps"}}<i class="material-icons right">arrow_drop_down</i></a></li>
		<li><a class="dropdown-button" href="#!" data-activates="projectsDropdownMobile">{{__ "projects"}}<i class="material-icons right">arrow_drop_down</i></a></li>
		</ul>
	</div>
</nav>
