<div class="container">
	<h2>{{__ "blog"}}</h2>
</div>
<div class="container">
	<div class="row">
		<div class="col s12 m9 l10">
			<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
			<div class="blog">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
					<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
							{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</p>
					<p>{{{content.brief}}}</p>
					<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col m3 l2 hide-on-small-only">
			<h4>Categories: </h4>
			<div style="margin-top: 70px;" class="collection">
				{{! get total count of posts from controller}}
				{{#ifeq filters.category null}}
					<a href="/blog" class="active collection-item">All Categories</a>
				{{else}}
					<a href="/blog" class="collection-item">All Categories</a>
				{{/ifeq}}
				
				{{# each data.categories }}
				
					{{#ifeq key ../filters.category }}
						<a href="{{categoryUrl key}}" class="active collection-item">
							{{name}}
							<span class="white-text text-darken-4 badge">{{postCount}}</span>	
						</a>
					{{else}}
						<a href="{{categoryUrl key}}" class="collection-item">
							{{name}}
							<span class="text-darken-4 badge">{{postCount}}</span>
						</a>
					{{/ifeq}}
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
