{{!< header-content}}
<style>
	/* Changes to header*/
	.nav-wrapper{
		background-color: #734fbd;
	}
	/* End of changes to header*/
	body{
		margin: 0px;
		background-color: #ededed;
	}
	.logoContainer{
		background:#6427c2;
		background: -webkit-linear-gradient(bottom left, #170079 0%, #915AA0 100%);
		background: -o-linear-gradient(bottom left, #170079 0%, #915AA0 100%);
		background: linear-gradient(to top right, #170079 0%, #915AA0 100%);
		 /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		text-align: center;
	}
	
	.featureHeading{
		background-color: black;
		color: #ededed;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.featureSection{
		padding-top: 50px;
		padding-bottom: 20px;
	}
	
</style>
<title>{{__ "pageTitleSnakes"}}</title>
<div id="container">
	<div class="row">
		<div class="col s12 logoContainer">
			<img style="width:70%" src="/images/snake-ergo/snake-ergo-logo.svg" align="middle" alt="logo"/>
		</div>
	</div>
</div>
<section>
	<div class="container">
		<div class="row featureSection">
			<div class="col s12 m4 offset-m1 l4 offset-l1">
				<img src="/images/snake-ergo/grid-small.png"/ alt="game demo" width="100%">
			</div>
			<div class="col s12 m6 l4 offset-l2 featureSection">
				<h4 class="center-align"><span class="featureHeading">{{__ "title1Snakes"}}</span></h4>
				<p>
					{{__ "detail1Snakes"}} 
				</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row featureSection">
			<div class="col s12 m4 offset-m2 push-m6 l4 offset-l1 push-l6">
				<img src="/images/snake-ergo/grid-med.png"/ alt="game demo" width="100%">
			</div>
			<div class="col s12 m5 offset-m1 pull-m6 l4 offset-l2 pull-l6 featureSection">
				<h4 class="center-align"><span class="featureHeading">{{__ "title2Snakes"}}</span></h4>
				<p>
					{{__ "detail2Snakes"}} 
				</p>
			</div>
			
			
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row featureSection">
			<div class="col s12 m4 offset-m1 l4 offset-l1">
				<img src="/images/snake-ergo/themes.png"/ alt="game demo" width="100%">
			</div>
			<div class="col s12 m5 offset-m1 l4 offset-l2 featureSection">
				<h4 class="center-align"><span class="featureHeading">{{__ "title3Snakes"}}</span></h4>
				<p>
					{{__ "detail3Snakes"}} 
				</p>
			</div>  
		</div>
	</div>
</section>
<div class="row" style="padding-top:30px;padding-bottom:50px;">
	<div class="col s8 offset-s2 m4 offset-m4 l3 offset-l5">
		<a href="https://itunes.apple.com/us/app/snake-ergo/id1007387996?mt=8"><img id="appStore" src="/images/app-store-badge.svg" width="100%" alt="App Store Link"/></a>
	</div>
</div>